.clear:before,
.clear:after {
  content:"";
  display:table;
}
.clear:after {
  clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clear {
  zoom:1;
}

#content {
  .content-area {
    float: left; width: 45%; margin: 10px 25px;
  }
  .log-content { overflow: scroll; height: 350px;  }
}


