<!DOCTYPE html>
<html>
<head>
  <title>NetronixTest</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <h1>View Log Files</h1>
  <div id="content"></div>
</div>

</body>
</html>
